page-onboarding {

	form {
		ion-item {
			background-color: transparent !important;
			height: 45px;
			min-height: 0 !important;
		}

		.submit-button-container {
			padding: 0; // 9px 0 9px;
			margin: 20px 0 33px 0;
			background: cornflowerblue;
			border-radius: 50px;
			&:first-child {
				margin-bottom: 10px;
			}
		}

	}
	.forgot-password-btn {

		color: #80aeff;
	}
	.create-account-btn {
		height: 20px;
		color: cornflowerblue;
	}
	ion-col {
		text-align: center;
	}
	.onboarding-logo {
		width: 60px;
		height: 60px;
		margin-bottom: 60px;
		margin-top: 100px;
	}

	.error-message {
		color: red;
		text-align: center;
	}
}
